/* Modal overlay (background) */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Aligns the modal to the bottom */
  z-index: 1000;
}

/* Modal content (the modal itself) */
.modal-content {
  width: 100%;  /* Full width */
  max-height: 90vh; /* Almost reaches the top */
  background: white;
  border-radius: 15px 15px 0 0;  /* Rounded top corners */
  /* padding: 20px; */
  box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.2);
  animation: rise-up 0.3s ease-out; /* Smooth rise animation */
  padding-bottom: 138px;
}

/* Animation for rising up the modal */
@keyframes rise-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px 24px 32px;
  margin-bottom: 55px;
}

.modal_header_right {
  display: flex;
  align-items: center;
  gap: 6px;
}

h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 41.77px;
  letter-spacing: -0.02em;
  color: var(--Text, rgba(52, 52, 51, 1));
  max-width: 440px;
}

.form {
  text-align: left;
  margin: 0 auto;
  max-width: 440px;
}

.add-business-form {
  gap: 28px;
  display: grid;
  color: var(--Color-txt-Placeholder, rgba(180, 180, 180, 1));
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  width: 100%;
}

span {
  color: var(--Warn, rgba(255, 78, 78, 1));
}

select, input {
  height: 48px;
  padding: 12px 20px;
  border-radius: 16px;
  opacity: 0px;
  background-color: rgba(250, 250, 251, 1);
  color: var(--Color-txt-Placeholder, rgba(180, 180, 180, 1));
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.014em;
  text-align: left;
}

select {
  height: 48px;
  max-width: 440px;
  width: 100%;
}

input {
  height: 24px;
  max-width: 400px;
  width: 100%;
}

.name_bottom {
  text-align: right;
  font-size: 13px;
}

.inputs_bottom {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 4px;
}

.input_bottom {
  width: fit-content;
}

.back {
  padding: 12px 38px;
  gap: 6px;
  border-radius: 16px;
  border: 1px solid rgba(226, 227, 229, 1);
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  letter-spacing: -0.02em;
  text-align: left;
  display: flex;
  align-items: center;
}

.submit {
  padding: 12px 38px;
  gap: 6px;
  border-radius: 16px;
  background: linear-gradient(0deg, var(--Text, #343433), var(--Text, #343433)),
  linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  letter-spacing: -0.02em;
  text-align: left;
}

button:disabled {
  background-color: rgba(52, 52, 51, 1);
  opacity: 0.4;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  max-width: 440px;
  padding: 24px 16px 24px 20px;
  gap: 20px;
  border-radius: 20px;
  border: 1px solid rgba(226, 227, 229, 1);
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--Subtext, rgba(153, 153, 156, 1));
}

.cards {
  display: grid;
  gap: 28px;
  padding-bottom: 48px;
}

.card_header {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--Text, rgba(52, 52, 51, 1));
  margin-bottom: 4px;
}

.note {
  color: rgba(153, 153, 156, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 56px;
  margin-top: -20px;
}
